# Example of .env file for the FastAPI project. Copy this file to .env and fill in the values.
SECRET_KEY= UseYourSecretKeyHere
ALGORITHM= ChoseYourAlgorithmHere
ACCESS_TOKEN_EXPIRE_MINUTES= SetYourTokenExpirationTimeHere